@font-face {
  font-family: "FettePerleGX";
  src: url('./webfont/FettePerleGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#desiree {
  font-family: "FettePerleGX";
  font-variation-settings: "wght" 500;
  animation-name: animate-fit-desiree;
}

@keyframes animate-fit-desiree {
  from {
    font-variation-settings: "wght" 88;
  }
  to {
    font-variation-settings: "wght" 158;
  }
}
