@font-face {
  font-family: "beispiel_font";
  src: url('./webfont/angkoGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#sam {
  font-family: "beispiel_font";
  font-variation-settings: "wght" 500;
}
