@font-face {
  font-family: "Samiras_Font";
  src: url('./webfont/draaiingGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#samira {
  font-family: "Samiras_Font";
  font-variation-settings: "wght" 600;
}
