@font-face {
  font-family: "bang";
  src: url(./webfont/bang-variable.woff2) format("woff2-variations");
  font-weight: 0 1000;
}

@keyframes animate-fit-bang {
  from {
    font-variation-settings: "wght" 0;
  }
  to {
    font-variation-settings: "wght" 70;
  }
}

#dan {
  font-family: "bang";
  font-variation-settings: "wght" 70;
  animation-name: animate-fit-bang;
}