@font-face {
  font-family: "beispiel_font";
  src: url('./fonts/nina/webfont/ExecutiveGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#nina {
  font-family: "ExecutiveGX";
  font-variation-settings: "wght" 500;
}
