@font-face {
  font-family: "Meraki";
  src: url('./webfont/MerakiGX.ttf') format('truetype');
  font-weight: 0 1000;
}

#selina {
  font-family: "beispiel_font";
  font-variation-settings: "wght" 500;
}
